$color1: green;
$titleNavbar : #fff;
$titleRegister: #015249;
$black: #0c0b0b;
$silver: silver;
$register: #57BC90;


// .navbarW{
//     background-color: $color1;
// }
.fa-size{
    color: $titleNavbar;
}
.navbarTop{
    background-color: $color1;
}
.navbarTitle{
    color: $titleNavbar;
}
.navbarRegister{
    background-color: $register;
}
.navbarRegisterT{
    color: $titleRegister;
}
.ham span{
    background-color: $black;
}
.menu-area > ul {
	color: $titleNavbar;
}
.menu-area > ul > li{
    color: $titleNavbar;
}
.submenuTitle{
    color: $black;
}
.dropdown li{
	background: $titleNavbar;
}
.dropdown li:hover{
    background-color: $silver;
}