.videoIndex{
    width: 100%;
    height: 920px;
    position: absolute;
    z-index: 0;
}
.videoIndexLogo{
    width: 1005px;
    height: 314px;
}
.videoIndexLogoContainer{
    z-index: 1;
    position: absolute;
    width: 100%;
}